DATABASE_URL="postgresql://admin:password123@localhost:5432/rahayusalon?schema=public"
JWT_SECRET="secretKey123"
REDIS_HOST="localhost"
REDIS_PORT="6379"
PORT=5000

# Google Calendar (Fill these to enable integration)
GOOGLE_CLIENT_EMAIL=""
GOOGLE_PRIVATE_KEY=""

# WhatsApp (Fill these to enable integration)
WA_API_KEY=""
